<div nz-row>
    <nz-card nz-col nzXs="24" nzSm="24" nzMd="16" nzLg="14" nzXl="14" nzTitle="Upcoming Event">
        <p>Next Event will start on 07th October 2020 19:30 UCT</p>
    </nz-card>
    <div nz-col nzXs="0" nzSm="0" nzMd="8" nzLg="10" nzXl="10" class="landing-page-image">
    </div>
</div>