.landing-page-image {
    max-width: 100%;
      background: url("https://images.unsplash.com/photo-1557764915-459cea577780?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=700&q=60");
      background-repeat: no-repeat;
      background-size: cover;
    }

    nz-card{
        height: 380px;
    }