<nz-layout>
  <nz-header>
    <div class="logo"></div>
    <ul nz-menu nzTheme="dark" nzMode="horizontal">
      <li nz-menu-item>Home</li>
      <li nz-menu-item>Race-Data</li>
    </ul>
  </nz-header>
  <nz-content>
    <nz-breadcrumb>
      <nz-breadcrumb-item  *ngIf="!isEventRunning">Next Event</nz-breadcrumb-item>
      <nz-breadcrumb-item  *ngIf="isEventRunning">Race Data</nz-breadcrumb-item>
    </nz-breadcrumb>
    <div class="inner-content">
      <f1-event-app-next-event-container *ngIf="!isEventRunning"></f1-event-app-next-event-container>
      <f1-event-app-race-view-container *ngIf="isEventRunning"></f1-event-app-race-view-container>
    </div>
  </nz-content>
  <nz-footer>Ant Design ©2020 Implement By Angular</nz-footer>
</nz-layout>