<nz-table #raceTable [nzData]="raceData">
    <thead>
      <tr>
        <th>#</th>
        <th>Name</th>
        <th>Sector 1</th>
        <th>Sector 2</th>
        <th>Last Round</th>
        <th>Best Round</th>
        <th>Penalties</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of raceTable.data; let i = index">
        <td>{{ i + 1 }}</td>
        <td><span [className]="getClass(data.m_nationality)"> </span>{{ getPlayerName(data.m_nationality) }}</td>
        <td>{{ data.m_sector1Time | minuteSecond }}</td>
        <td>{{data.m_sector2Time | minuteSecond}}</td>
        <td>{{data.m_lastLapTime | minuteSecond}}</td>
        <td>{{data.m_bestLapTime | minuteSecond}}</td>
        <td>+ {{data.m_penalties}} sec.</td>
      </tr>
    </tbody>
  </nz-table>